body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, rgb(20, 23, 33) 0%, rgb(20,23, 33) 50%, rgba(20, 23, 33, 0.8) 100%);
  display: table-cell;
  vertical-align: middle;
}

.form-card{
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
}

.form-title{
  font-size: 42px;
  font-family: 'Avenir';
  font-weight: 800;
  letter-spacing: 1px;
  color: #c8c8c8;
  padding-bottom: 12px;
}

.form-subtitle{
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  letter-spacing: 1px;
  color: darkgray;
  padding-bottom: 12px;
}

.auth-label{
  background-color: rgb(81, 82, 99);
  width: 500px;
  height: 50px;
  padding-top: 5px;
  border-radius: 15px;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  color: #c8c8c8;
  letter-spacing: 1px;
  padding-left: 5px;
}

.auth-input{
  background-color: rgb(81, 82, 99);
  border-style: none;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-bottom: 5px;
}

.auth-button{
  padding: 10px 20px;
  background-color: tomato;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  width: 200px;
  margin-top: 15px;
}



